<hr class = "dotted">
<nav>
    <a href="/">Home</a>
    <a href="/iloveyou">ILOVEYOU</a>
    <a href="/wannacry">WannaCry</a>
    <a href="/sasser">Sasser</a>
    <a href="/faker">???</a>
</nav>
<hr class = "dotted">