<!DOCTYPE html>
<html>
    
    <% include partials/head.ejs %>

    <body>
        
        <header>
            <h1><a href="/" class = link> ILOVEYOU </a></h1>
        </header>
        
        <% include partials/nav.ejs %>
        
        <br /><br />
        
        <main>
            <div id = "iloveyouPage">
                <figure id = "loveLetter">
                    <img src="img/loveLetter.jpg" alt = "loveLetter">
                </figure>
                <div>
                    <p><em>ILOVEYOU</em>, commonly refered to as the Love Bug, was a computer virus launched in the Phillipines in 2000. 
                    The virus used social engineering to trick people into downloading a virus hidden as a love confession. 
                    The virus would steal passwords and redistrubute itself to everyone in the victims' contacts.</p>
                    
                    <p><i><u>Estimated Cost: $15 billion</u></i></p>
                    <p><a href="https://en.wikipedia.org/wiki/ILOVEYOU" class = link>CLICK HERE FOR MORE INFO</a></p>
                </div>
            </div>
        </main>
        
        <hr class = "dotted">
        
    </body>

</html>