<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8"/>
        <title> Computer Viruses </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lexend+Zetta&display=swap" rel="stylesheet">
    </head>
    
    <body>
        
        <header>
            <h1><a href="/" class = link> Infamous Computer Viruses </a></h1>
        </header>
        
        <hr class = "dotted">
        <nav>
            <a href="/">Home</a>
            <a href="/iloveyou">ILOVEYOU</a>
            <a href="/wannacry">WannaCry</a>
            <a href="/sasser">Sasser</a>
            <a href="/faker">???</a>
        </nav>
        <hr class = "dotted">
    
        <p id = "generalInfo">Computer viruses are capable of causing a tremendous amount of damage. Viruses come in all different shapes and sizes, 
            ranging from trolls to ransomware. Here are a few of the many infamous viruses within the last few years.</p>
            
        <hr class = "dotted">    
        <main>
            
            <div id = "computerViruses">
                <div>
                    <figure class = "virus">
                        <a href="/iloveyou"><img src="img/iloveyou.jpg" alt = "iLoveYou"></a>
                    </figure>
                    
                    <div>
                        <h2>ILOVEYOU</h2>
                    </div>
                </div>
                <hr class = "dashed">
                <div>
                    <figure class = "virus">
                        <a href="/wannacry"><img src="img/wannacry.png" alt = "wannaCry"></a>
                    </figure>
                    
                    <div>
                        <h2>WannaCry</h2>
                    </div>
                </div>
                <hr class = "dashed">
                <div>
                    <figure class = "virus">
                        <a href="/sasser"><img src="img/sasser.png" alt = "sasser"></a>
                    </figure>
                    
                    <div>
                        <h2>Sasser</h2>
                    </div>
                </div>
            </div>
            <hr class = "dotted">
            <hr class = "dashed">
            
        </main>

        
    </body>

</html>