<!DOCTYPE html>
<html>
    
    <% include partials/head.ejs %>

    <body>
        
        <header>
            <h1><a href="/" class = link> Sasser </a></h1>
        </header>
        
        <% include partials/nav.ejs %>
        
        <br /><br />
        
        <main>
            <div id = "sasserPage">
                <figure id = "sasserWindow">
                    <img src="img/sasserWindow.png" alt = "sasserWindow">
                </figure>
                <div>
                    <p><em>Sasser</em> was a computer worm created by a 17 year old in Germany. 
                    The virus searched for vulnerable IP adresses and downloaded itself onto the Windows directory. 
                    The virus made shutting down computers difficult.</p>
                    
                    <p><i><u>Estimated Cost: $500 million</u></i></p>
                    <p><a href="https://en.wikipedia.org/wiki/Sasser_(computer_worm)" class = link>CLICK HERE FOR MORE INFO</a></p>
                </div>
            </div>
        </main>
        
        <hr class = "dotted">
        
    </body>

</html>