<!DOCTYPE html>
<html>
    
    <% include partials/head.ejs %>

    <body>
        
        <header>
            <h1><a href="/" class = link> WannaCry </a></h1>
        </header>
        
        <% include partials/nav.ejs %>
        
        <br /><br />
        
        <main>
            <div id = "wannacryPage">
                <figure id = "wannacryRansom">
                    <img src="img/wannacryRansom.png" alt = "wannacryRansom">
                </figure>
                <div>
                    <p><em>WannaCry</em> was a short lived ransomware attack released in 2017. Despite the short duration of
                    the virus, it was able to infect hundreds of thousands of computers. The virus would encrypt data and demand 
                    bitcoin as a payment to decrypt the data. The creator of the virus was never found, but there is evidence of the 
                    attack starting in Asia.</p>
                    
                    <p><i><u>Estimated Cost: $4 billion</u></i></p>
                    <p><a href="https://en.wikipedia.org/wiki/WannaCry_ransomware_attack" class = link>CLICK HERE FOR MORE INFO</a></p>
                </div>
            </div>
        </main>
        
        <hr class = "dotted">
        
    </body>

</html>